
.container {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subtitle {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  justify-content: center;
}

.buttonTheme {
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  margin: auto;
  background: none;
  outline: none;
  padding-bottom: 5%;
}

.buttonTheme::-moz-focus-inner{
  border: 0;
}

.buttonTheme img {
  width: 60px;
}